<site-nav></site-nav>

<main role="main">
  <section class="main full-width">
      <div class="slider">
          <div class="sliderContent" slick-slider="{dots: false, arrows: true, draggable: true, slidesToShow:1, infinite:true}">

            <div class="slide" ng-repeat="slide in $ctrl.slides" style="background:url(front-assets/images/home/{{slide.img}}.png)">
              <h3>
                שעות של הכנות ... <br>
          שניות של הגשה
        </h3>
              <h4>בואו ראו איך מכינים הכל טרי! >> </h4>
            </div>
          </div>
      </div>
  </section>
  <section class="full-width ongoing">
      <div class="wrap">
        <h1>כותרת ראשית</h1>
          <ul class="list">
            <li><p>חלומות מתגשמים... <b>המשלוחים שלנו</b></p></li>
            <li><p>איכות סביבה ורגישות חברתית...<b>ראו איך מייצרים את ההבדל</b></p></li>
            <li><p>הנתחים שלנו...<b>הציצו למטבח שלנו בפעולה</b></p></li>
          </ul>
      </div>
      <div class="clearfix"></div>
  </section>
  <section class="full-width geo">
      <div class="wrap">
        <img class="igeo" src="front-assets/images/home/igeo.png" alt="" />
          <h3>מצא סניף קרוב</h3>
          <input class="findCity" type="text" name="name" value="" placeholder="הזן עיר>>">
      </div>
  </section>
</main>

<!-- <div id="title" class="slide header">
  <h1>Pure CSS Parallax</h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Slide 1</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Slide 2</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
  <img src="http://lorempixel.com/640/480/abstract/6/">
  <img src="http://lorempixel.com/640/480/abstract/4/">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Slide 3</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
</div>

<div id="slide4" class="slide header">
    <h1>The End</h1>
</div> -->
<site-footer></site-footer>
