<main role="main" class="p-home">
  <section class="main full-width">
      <div class="slider">
          <div class="sliderContent" slick-slider="{dots: false, arrows: true, draggable: true, slidesToShow:1, infinite:true, autoplay: true, autoplaySpeed: 5000}">
            <div class="slide" ng-repeat="slide in $ctrl.slides"
            style="background:-webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(front-assets/images/home/{{slide.img}});
                   background:-moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(front-assets/images/home/{{slide.img}});
                   background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(front-assets/images/home/{{slide.img}}); background-size:cover">
              <h3>{{::slide.title}}</h3>
              <h4>{{::slide.subTitle}}</h4>
            </div>
          </div>
      </div>
  </section>
  <section class="full-width ongoing">
      <div class="wrap">
        <h1>כותרת ראשית</h1>
          <ul class="list">
            <li><a href="#/story"><p>הנתחים שלנו<b>הציצו למטבח שלנו בפעולה…</b></p></a></li>
            <li><a href="#/story"><p>איכות סביבה ורגישות<b>ראו איך מייצרים את ההבדל</b></p></a></li>
            <li><p>חלומות מתגשמים<b>המשלוחים שלנו</b></p></li>
          </ul>
      </div>
      <div class="clearfix"></div>
  </section>
  <section class="full-width geo">
      <div class="wrap">
        <img class="igeo" src="front-assets/images/home/igeo.png" alt="" />
          <h3>מצא סניף</h3>
          <input class="findCity" type="text" name="name" value="" ng-change="$ctrl.findNearest()" ng-model="$ctrl.user.city" ng-model-options="{debounce: 1000}" placeholder="הזן עיר">
          <div class="affiliatesList" ng-class="{'open':$ctrl.affiliates.exist}">
              <ul>
                <li ng-repeat="affilate in $ctrl.affiliates.list" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                  <a ng-href="{{affilate.link}}">
                    <img ng-src="{{affilate.src}}" alt="" />
                  </a>
                  <div class="infoDetails">
                    <span>טלפון</span>
                    <span>{{affilate.tel}}</span>
                  </div>
                  <div class="infoDetails">
                    <span>פקס</span>
                    <span>{{affilate.fax}}</span>
                  </div>
                  <div class="infoDetails">
                    <span>שעות עבודה</span>
                    <span>{{affilate.workHours}}</span>
                  </div>
                  <div class="infoDetails">
                    <span>כתובת</span>
                    <span>{{affilate.address}}</span>
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
          </div>
      </div>
  </section>
</main>
