<footer class="full-width">
  <div class="wrap">
    <div class="right">
      <div class="subscribe email">
        <label for="email">הרשם לרשימת התפוצה שלנו</label>
        <input type="email" name="email" value="" placeholder="הזן כתובת המייל שלך">
        <a href="#"><<</a>
      </div>
      <div class="social">
          <p>השרא מחובר</p>
          <ul>
            <li><a href="#"><img src="front-assets/images/home/face.png" alt="" /></a></li>
            <li><a href="#"><img src="front-assets/images/home/twitter.png" alt="" /></a></li>
            <li><a href="#"><img src="front-assets/images/home/insta.png" alt="" /></a></li>
            <li><a href="#"><img src="front-assets/images/home/youtube.png" alt="" /></a></li>
          </ul>
      </div>
    </div>
    <div class="left">

    </div>
    <div class="clearfix"></div>
  </div>
</footer>
