<main role="main" class="p-about">
    <section class="full-width">
        <div class="wrap">
            <div class="content">
              <h2>
                  דבר בעלי הרשת
              </h2>
              <p>
                  <br /> לקוח יקר, תודה על נאמנותך לרשת שניצל קומפני
              </p>
              <p>
                  עבורנו, שניצל קומפני אינה רק מיזם או אפיזודה חולפת, אינה סתם מקום עבודה ואפילו לא מקור להתעשרות מהירה – <strong>שניצל קומפני עבורנו היא יצירה – פרויקט ודרך חיים. </strong>
              </p>
              <p>
                  ברשת המסעדות השקענו הרבה יזע, השקענו את כל מרצינו ויכולתנו, טעינו במהלך הדרך, תיקנו, והמשכנו הלאה חזקים וחכמים יותר. כך בנינו את הרשת צעד, צעד אט לאט וכך הגענו ליום הזה.
              </p>
              <p>
                כפי שנהגנו עד ליום זה, כך תהא דרכנו גם בעתיד – דרך בה אנו<strong> מחויבים לך  הלקוח</strong>. הצלחה שכזאת תגיע דרך אהבה למה שאנחנו עושים ביום יום, אהבה ומחויבות עמוקה לעובדים אשר עובדים עמנו  יום יום מזה שנים ושותפים להצלחתנו,  דרך של יושר, הגינות וערבות הדדית.  במנטליות אנחנו רצי מרתון – לא מחפשים רווח לטווח קצר אלא מאמינים שהדרך ארוכה, אך  יודעים בביטחון שנגיע ליעד וננצח.
              </p>
              <p>
                  אנו נלחמים יום יום להביא לך הלקוח את המוצרים הטובים ביותר, הטריים ביותר, לאחר שהוכנו ביד נאמנה והמיומנת את המוצר המוגמר אלייך בחיוך ובהאהבה.
              </p>
              <p>
                  ברוך הבא למשפחת שניצל קומפני.
              </p>
            </div>
        </div>
    </section>
</main>
