.p-about .wrap {
  max-width: 740px;
  width: 95%;
}
.p-about .wrap .content {
  padding: 100px 0;
}
.p-about .wrap .content h2 {
  color: #54392d;
  font-size: 45px;
  text-align: center;
  font-family: assistantBold;
}
.p-about .wrap .content p {
  font-size: 18px;
  padding: 10px 0;
  color: #54392d;
  font-family: assistant;
}
.p-about .wrap .content p strong {
  font-family: assistantBold;
}
.p-about .wrap .content .owners img {
  outline: 1px solid #ccc;
  border: 4px solid #fff;
  margin: 2%;
  width: 44%;
  max-width: 350px;
}
@media (max-width: 740px) {
  .p-about .wrap .content {
    padding: 10px 0;
  }
  .p-about .wrap .content .owners img {
    outline: 1px solid #ccc;
    border: 4px solid #fff;
    margin: 2%;
    width: 90%;
    max-width: 350px;
    text-align: center;
  }
}
