.p-home .slider {
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: assistant;
}
.p-home .slider .sliderContent {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.p-home .slider .sliderContent .slide {
  background: url('../images/home/slide_1.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.p-home .slider .sliderContent a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.p-home .slider .sliderContent h3 {
  margin: 0 auto;
  font-size: 50px;
  vertical-align: middle;
  padding-top: 30vh;
  font-size: 90px;
  line-height: 90px;
  padding-bottom: 20px;
  max-width: 740px;
  text-shadow: 0px 1px 10px #000;
}
.p-home .slider .sliderContent h4 {
  opacity: 0.8;
  font-size: 52px;
}
.p-home .ongoing {
  padding: 20px 0 100px;
}
.p-home .ongoing h1 {
  text-align: center;
  color: #54392d;
  font-size: 43px;
  margin: 20px 0;
  font-weight: bolder;
}
.p-home .ongoing .list {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
}
.p-home .ongoing .list:after {
  content: "";
  display: block;
  clear: both;
}
.p-home .ongoing .list li {
  position: relative;
  float: left;
  display: block;
  height: 320px;
  max-width: 317px;
  width: 30%;
  margin: 0 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.p-home .ongoing .list li:nth-child(1) {
  background-image: url("../images/home/pic1.png");
}
.p-home .ongoing .list li:nth-child(2) {
  background-image: url("../images/home/pic2.png");
}
.p-home .ongoing .list li:nth-child(3) {
  background-image: url("../images/home/pic3.jpg");
}
.p-home .ongoing .list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.p-home .ongoing .list li p {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
.p-home .ongoing .list li p b {
  display: block;
  font-family: assistantSemiBold;
}
.p-home .geo {
  background-image: url("../images/home/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px;
}
.p-home .geo .wrap .igeo {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -25px;
  z-index: 2;
}
.p-home .geo .wrap h3 {
  font-size: 43px;
  color: #fff;
  font-family: assistantSemiBold;
  text-align: center;
}
.p-home .geo .wrap .findCity {
  display: block;
  border: none;
  margin: 20px auto 0;
  width: 240px;
  height: 15px;
  padding: 5px;
  direction: rtl;
  color: #897267;
  font-size: 14px;
}
.p-home .geo .wrap .findCity::-webkit-input-placeholder {
  color: #897267;
  text-align: center;
}
.p-home .geo .wrap .findCity::-moz-placeholder {
  color: #897267;
  text-align: center;
}
.p-home .geo .wrap .findCity:-ms-input-placeholder {
  color: #897267;
  text-align: center;
}
.p-home .geo .wrap .findCity:-moz-placeholder {
  color: #897267;
  text-align: center;
}
.p-home .geo .wrap .affiliatesList {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  opacity: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
.p-home .geo .wrap .affiliatesList.open {
  opacity: 1;
}
.p-home .geo .wrap .affiliatesList ul {
  list-style: none;
}
.p-home .geo .wrap .affiliatesList ul li {
  display: block;
  background: #fff;
  float: right;
  padding: 10px;
  margin: 1%;
  width: 48%;
  box-sizing: border-box;
}
.p-home .geo .wrap .affiliatesList ul li a img {
  width: 100%;
  display: block;
}
.p-home .geo .wrap .affiliatesList ul li .infoDetails {
  width: 100%;
  min-height: 25px;
}
.p-home .geo .wrap .affiliatesList ul li .infoDetails span:first-of-type {
  float: right;
}
.p-home .geo .wrap .affiliatesList ul li .infoDetails span:last-of-type {
  float: left;
}
.p-home .geo .wrap .affiliatesList ul li .infoDetails:after {
  display: block;
  width: 100%;
  clear: both;
}
@media (max-width: 740px) {
  .p-home .slider .sliderContent h3 {
    font-size: 40px;
    padding-top: 20vh;
    line-height: 40px;
  }
  .p-home .slider .sliderContent h4 {
    font-size: 30px;
  }
  .p-home .ongoing .list li {
    width: 100%;
    margin: 10px auto;
    float: none;
  }
}
