@font-face {
  font-family: 'assistant';
  src: url('../fonts/Assistant-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'assistantSemiBold';
  src: url('../fonts/Assistant-SemiBold.ttf');
  font-weight: bolder;
}
@font-face {
  font-family: 'assistantBold';
  src: url('../fonts/Assistant-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'assistantLight';
  src: url('../fonts/Assistant-Light.ttf');
  font-weight: bold;
}
a,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  direction: rtl;
}
input {
  outline: none;
}
.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}
body {
  margin: 0;
  font-family: assistant;
  overflow-x: hidden;
}
.full-width {
  width: 100%;
  margin: 0 auto;
}
.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}
.clearfix {
  clear: both;
}
section:after {
  content: '';
  clear: both;
}
nav {
  background: #fff;
  margin-bottom: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 99;
}
.navigation {
  max-width: 940px;
}
.navigation .logo {
  float: right;
  margin-left: 40px;
}
.navigation ul {
  padding-top: 45px;
  display: block;
  list-style: none;
  float: right;
}
.navigation ul li {
  display: block;
  float: right;
  padding: 10px;
  vertical-align: bottom;
}
.navigation ul li a {
  text-align: center;
  text-decoration: none;
  color: #010101;
  vertical-align: bottom;
}
.navigation ul li.navBtn a {
  background: #d4d1cd;
  padding: 10px 10px 3px;
}
.navigation .hamburger {
  display: none;
}
.navigation .hamburger span {
  width: 50px;
  height: 2px;
  background: #54392d;
  display: block;
  margin: 0 auto;
}
main {
  display: block;
  margin-top: 80px;
}
footer {
  position: relative;
  padding: 20px 0;
  background: #54392d;
  overflow: hidden;
}
footer .subsribeResponse {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  position: absolute;
  bottom: -100px;
  z-index: 999;
  width: 100%;
  max-width: 500px;
  text-align: center;
  direction: rtl;
  padding: 10px;
  left: 50%;
  margin-left: -250px;
  color: #000;
  background: #ccc;
  font-size: 20px;
}
footer .subsribeResponse.open {
  bottom: 150px;
}
footer .left,
footer .right {
  direction: rtl;
  float: right;
  width: 48%;
  margin: 0.5%;
}
footer .left .subscribe label,
footer .right .subscribe label {
  color: #fff;
  font-size: 24px;
}
footer .left .subscribe .inputRow,
footer .right .subscribe .inputRow {
  margin: 10px 0;
}
footer .left .subscribe .inputRow input,
footer .right .subscribe .inputRow input {
  font-family: assistantLight;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fbb680;
  width: 260px;
  float: right;
  font-size: 22px;
}
footer .left .subscribe .inputRow input::-webkit-input-placeholder,
footer .right .subscribe .inputRow input::-webkit-input-placeholder {
  color: #fbb680;
  font-size: 28px;
  font-family: assistantLight;
}
footer .left .subscribe .inputRow input::-moz-placeholder,
footer .right .subscribe .inputRow input::-moz-placeholder {
  color: #fbb680;
  font-size: 28px;
  font-family: assistantLight;
}
footer .left .subscribe .inputRow input:-ms-input-placeholder,
footer .right .subscribe .inputRow input:-ms-input-placeholder {
  color: #fbb680;
  font-size: 28px;
  font-family: assistantLight;
}
footer .left .subscribe .inputRow input:-moz-placeholder,
footer .right .subscribe .inputRow input:-moz-placeholder {
  color: #fbb680;
  font-size: 28px;
  font-family: assistantLight;
}
footer .left .subscribe .inputRow a,
footer .right .subscribe .inputRow a {
  display: block;
  float: right;
  text-decoration: none;
  color: #fbb680;
  font-size: 30px;
  font-family: assistantLight;
}
footer .left .list,
footer .right .list {
  margin-top: 20px;
}
footer .left .list p,
footer .right .list p {
  color: #fff;
  font-size: 22px;
}
footer .left .list .terms,
footer .right .list .terms {
  font-size: 18px;
}
footer .left .list ul,
footer .right .list ul {
  list-style: none;
}
footer .left .list ul li,
footer .right .list ul li {
  display: block;
  float: right;
  margin: 10px 15px;
}
footer .left .list ul li:first-of-type,
footer .right .list ul li:first-of-type {
  margin-right: 0;
}
footer .left .list ul li a,
footer .right .list ul li a {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}
footer .left {
  margin-left: 0;
}
@media (max-width: 940px) {
  .navigation .logo {
    margin-left: 15px;
  }
  .navigation ul {
    padding-top: 0;
  }
  .navigation ul li {
    padding: 12px 5px 11px;
  }
  .navigation ul li.breakLine {
    clear: both;
  }
  footer .left .subscribe label,
  footer .right .subscribe label {
    font-size: 20px;
  }
  footer .left .subscribe .inputRow a,
  footer .right .subscribe .inputRow a {
    font-size: 24px;
  }
  footer .left .subscribe .inputRow input,
  footer .right .subscribe .inputRow input {
    width: 250px;
    font-size: 18px;
  }
  footer .left .subscribe .inputRow input::-webkit-input-placeholder,
  footer .right .subscribe .inputRow input::-webkit-input-placeholder {
    font-size: 18px;
  }
  footer .left .subscribe .inputRow input::-moz-placeholder,
  footer .right .subscribe .inputRow input::-moz-placeholder {
    font-size: 18px;
  }
  footer .left .subscribe .inputRow input:-ms-input-placeholder,
  footer .right .subscribe .inputRow input:-ms-input-placeholder {
    font-size: 18px;
  }
  footer .left .list p,
  footer .right .list p {
    font-size: 20px;
  }
  footer .left .list ul li,
  footer .right .list ul li {
    margin: 10px;
  }
  footer .left .list ul li a,
  footer .right .list ul li a {
    font-size: 18px;
  }
  footer .left .list ul li a img,
  footer .right .list ul li a img {
    width: 45px;
    height: auto;
  }
}
@media (max-width: 740px) {
  nav.mobileNavOpen {
    height: auto;
  }
  .navigation ul {
    display: none;
  }
  .navigation ul.mobileNavOpen {
    display: block;
    clear: both;
    margin-right: 20px;
  }
  .navigation ul.mobileNavOpen li {
    float: none;
    padding: 5px 0;
  }
  .navigation ul.mobileNavOpen li.navBtn {
    margin: 5px 0;
  }
  .navigation .hamburger {
    cursor: pointer;
    width: 20px;
    display: block;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
    float: left;
    margin-top: 25px;
  }
  .navigation .hamburger span {
    width: 100%;
    display: block;
    background: #000;
    margin: 2px 0;
  }
  footer .left,
  footer .right {
    width: 98%;
    float: none;
    margin: 0 auto;
    max-width: 280px;
  }
  footer .left:after,
  footer .right:after {
    content: "";
    display: block;
    clear: both;
  }
  footer .left .subscribe label,
  footer .right .subscribe label {
    font-size: 16px;
  }
  footer .left .subscribe .inputRow a,
  footer .right .subscribe .inputRow a {
    font-size: 20px;
  }
  footer .left .subscribe .inputRow input,
  footer .right .subscribe .inputRow input {
    width: 250px;
    font-size: 14px;
  }
  footer .left .subscribe .inputRow input::-webkit-input-placeholder,
  footer .right .subscribe .inputRow input::-webkit-input-placeholder {
    font-size: 14px;
  }
  footer .left .subscribe .inputRow input::-moz-placeholder,
  footer .right .subscribe .inputRow input::-moz-placeholder {
    font-size: 14px;
  }
  footer .left .subscribe .inputRow input:-ms-input-placeholder,
  footer .right .subscribe .inputRow input:-ms-input-placeholder {
    font-size: 14px;
  }
  footer .left .list p,
  footer .right .list p {
    font-size: 16px;
  }
  footer .left .list ul li,
  footer .right .list ul li {
    margin: 10px;
  }
  footer .left .list ul li a,
  footer .right .list ul li a {
    font-size: 14px;
  }
  footer .left .list ul li a img,
  footer .right .list ul li a img {
    width: 45px;
    height: auto;
  }
}
