.p-menu .slider {
  background-size: cover;
  width: 100%;
  height: 600px;
  font-family: assistant;
  margin: 0 0 120px;
}
.p-menu .slider .sliderContent {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.p-menu .slider .sliderContent .slide {
  background-size: cover;
  height: 600px;
  background-position: center;
  position: relative;
}
.p-menu .slider .sliderContent .slide .slideText {
  position: absolute;
  bottom: 40px;
  left: 15%;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  text-align: center;
  width: 220px;
}
.p-menu .slider .sliderContent .slide .slideText h3 {
  font-size: 30px;
  color: #000;
}
.p-menu .slider .sliderContent .slide .slideText p {
  color: #000;
}
.p-menu .slider .slick-thumbs,
.p-menu .slider .slick-thumbs {
  position: absolute;
  left: -9999px;
}
.p-menu .slider .slick-dots li,
.p-menu .slider .slick-dots li button:before {
  margin: 0;
  padding: 0;
}
.p-menu .slider .slick-slider .slick-track {
  min-width: 100%;
}
.p-menu .slider .slick-dots {
  bottom: -101px;
  top: auto;
  left: auto;
  right: auto;
  position: absolute;
  line-height: 0;
}
.p-menu .slider .slick-dots li {
  margin: 0 10px;
  display: inline-block;
  width: auto;
  height: auto;
}
.p-menu .slider .slick-dots li:before {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.p-menu .slider .slick-dots li.slick-active:before {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.p-menu .slider .slick-dots li button {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 0;
}
.p-menu .slider .slick-dots li button::before {
  content: '';
  display: block;
  max-width: 150px;
  overflow: hidden;
  float: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.p-menu .slider .slick-dots li button.tab {
  clear: both;
  display: block;
}
.p-menu .slider .slick-dots li button img {
  width: 100%;
  max-width: 100px;
  height: auto;
}
.p-menu .slider .slick-dots li button p {
  color: #000;
  font-size: 18px;
  font-family: assistantSemiBold;
  padding-top: 10px;
}
.p-menu .ingredients {
  background: #ccc;
}
.p-menu .ingredients .lists {
  text-align: center;
}
.p-menu .ingredients .lists ul {
  list-style: none;
}
.p-menu .ingredients .lists ul li {
  display: inline-block;
}
.p-menu .ingredients .lists ul li.col-size-2 {
  max-width: 48%;
}
.p-menu .ingredients .lists ul li.col-size-3 {
  max-width: 31%;
}
.p-menu .ingredients .lists ul li.col-size-4 {
  max-width: 22%;
}
.p-menu .ingredients .lists ul li.col-size-5 {
  max-width: 18%;
}
.p-menu .ingredients .lists ul li.title {
  width: 100%;
  display: block;
  font-size: 25px;
  font-family: assistantSemiBold;
  padding: 15px;
}
.p-menu .ingredients .description {
  display: none;
  background: #fff;
  position: absolute;
}
.p-menu .ingredients .item {
  cursor: pointer;
  position: relative;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.p-menu .ingredients .item img {
  width: 100%;
  height: auto;
}
.p-menu .ingredients .item p {
  font-size: 16px;
  color: #000;
  font-family: assistant;
}
.p-menu .ingredients .item.opened + .description {
  display: block;
}
