.p-menu .slider {
  background-size: cover;
  width: 100%;
  height: 600px;
  font-family: assistant;
  margin: 0 0 200px;
}
.p-menu .slider .sliderContent {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.p-menu .slider .sliderContent .slide {
  background-size: cover;
  height: 600px;
  background-position: center;
  position: relative;
}
.p-menu .slider .sliderContent .slide .slideText {
  position: absolute;
  bottom: 40px;
  left: 15%;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  text-align: center;
  width: 220px;
}
.p-menu .slider .sliderContent .slide .slideText h3 {
  font-size: 30px;
  color: #000;
}
.p-menu .slider .sliderContent .slide .slideText p {
  color: #000;
}
.p-menu .slider .slick-thumbs,
.p-menu .slider .slick-thumbs {
  position: absolute;
  left: -9999px;
}
.p-menu .slider .slick-dots li,
.p-menu .slider .slick-dots li button:before {
  margin: 0;
  padding: 0;
}
.p-menu .slider .slick-slider .slick-track {
  min-width: 100%;
}
.p-menu .slider .slick-dots {
  bottom: -101px;
  top: auto;
  left: auto;
  right: auto;
  position: absolute;
  line-height: 0;
}
.p-menu .slider .slick-dots li {
  margin: 0 10px;
  display: inline-block;
  width: auto;
  height: auto;
}
.p-menu .slider .slick-dots li:before {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.p-menu .slider .slick-dots li.slick-active:before {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.p-menu .slider .slick-dots li button {
  margin: 0;
  height: auto;
  width: 100px;
  height: 80px;
  padding: 0;
}
.p-menu .slider .slick-dots li button::before {
  content: '';
  display: block;
  max-width: 150px;
  overflow: hidden;
  float: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.p-menu .slider .slick-dots li button.tab {
  clear: both;
  display: block;
}
.p-menu .slider .slick-dots li button img {
  width: auto;
  height: 100%;
}
.p-menu .slider .slick-dots li button p {
  color: #3d241a;
  font-size: 21px;
  font-family: assistantSemiBold;
  padding-top: 10px;
  line-height: 20px;
}
.p-menu .ingredients {
  background: #ccc;
  padding: 30px;
  box-sizing: border-box;
}
.p-menu .ingredients .whats-indside {
  background: url(../images/menu/i-whats_inside.png) no-repeat;
  width: 219px;
  height: 82px;
  margin: -70px auto 0;
  text-align: center;
  font-family: assistantBold;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
}
.p-menu .ingredients .lists {
  text-align: center;
}
.p-menu .ingredients .lists > ul {
  list-style: none;
}
.p-menu .ingredients .lists > ul li {
  display: inline-block;
  width: 18%;
  min-width: 200px;
  max-width: 190px;
}
.p-menu .ingredients .lists > ul li.title {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  font-size: 32px;
  font-family: assistantSemiBold;
  line-height: 30px;
  padding: 40px 0 15px;
  color: #3d241a;
}
.p-menu .ingredients .description {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 9;
  left: 0;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.p-menu .ingredients .description .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
  font-weight: 300;
  font-size: 50px;
  line-height: 40px;
}
.p-menu .ingredients .description .descriptionTitle {
  font-size: 28px;
  padding: 10px 0 0;
  color: #3d241a;
  font-family: assistantSemiBold;
}
.p-menu .ingredients .description .right {
  float: right;
  width: 40%;
}
.p-menu .ingredients .description .right img {
  max-width: 320px;
  height: auto;
}
.p-menu .ingredients .description .left {
  float: left;
  text-align: center;
  width: 60%;
  padding-top: 50px;
}
.p-menu .ingredients .description .left ul li {
  display: inline-block;
  margin: 0 10px;
}
.p-menu .ingredients .description .left ul li h4 {
  font-size: 18px;
  color: #3d241a;
}
.p-menu .ingredients .description .left ul li p {
  font-size: 16px;
  color: #ccc;
}
.p-menu .ingredients .description .left .moreInfo {
  max-width: 60%;
  margin: 40px auto;
  padding: 40px 0;
  border-top: 2px dashed #d4d0cc;
}
.p-menu .ingredients .description .left .moreInfo h4 {
  color: #3d241a;
  font-size: 18px;
  padding: 5px;
}
.p-menu .ingredients .description .left .moreInfo p {
  color: #c08c19;
  font-size: 16px;
}
.p-menu .ingredients .item {
  cursor: pointer;
  position: relative;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.p-menu .ingredients .item:after {
  opacity: 0;
}
.p-menu .ingredients .item img {
  width: 100%;
  height: auto;
}
.p-menu .ingredients .item p {
  font-size: 18px;
  color: #3d241a;
  font-family: assistantSemiBold;
}
.p-menu .ingredients .item.opened:after {
  opacity: 1;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;
}
@media (max-width: 740px) {
  .p-menu .ingredients .description {
    position: fixed;
    top: 0px;
    left: 0;
  }
  .p-menu .ingredients .description .wrap {
    padding-top: 70px;
  }
  .p-menu .ingredients .description .wrap .close {
    top: 90px;
  }
  .p-menu .ingredients .description .right,
  .p-menu .ingredients .description .left {
    width: 100%;
    float: none;
  }
  .p-menu .slider .slick-dots {
    display: none!important;
  }
}
