.p-nutrition {
  padding: 40px 0;
}
.p-nutrition .dishes ul {
  list-style: none;
}
.p-nutrition .dishes ul li {
  display: inline-block;
  width: 18%;
  max-width: 200px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}
.p-nutrition .nutritionList .ingrid {
  direction: rtl;
  padding: 2px 0;
}
.p-nutrition .nutritionList .ingrid:nth-child(even) {
  background: #ccc;
}
.p-nutrition .nutritionList .ingrid h4 {
  display: inline-block;
  width: 100px;
}
.p-nutrition .nutritionList .ingrid .toggle {
  text-decoration: none;
  width: 20px;
  display: inline-block;
  color: blue;
  vertical-align: top;
}
.p-nutrition .nutritionList .ingrid .toggle:after {
  content: "+";
}
.p-nutrition .nutritionList .ingrid .toggle.selected:after {
  content: "-";
}
.p-nutrition .nutritionList .ingrid ul {
  list-style: none;
  display: inline-block;
}
.p-nutrition .nutritionList .ingrid ul li {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.p-nutrition .calculated {
  direction: rtl;
}
.p-nutrition .calculated h4 {
  width: 130px;
  display: inline-block;
}
.p-nutrition .calculated ul {
  list-style: none;
  display: inline-block;
}
.p-nutrition .calculated ul li {
  width: 60px;
  display: inline-block;
  text-align: center;
}
