html,
body {
  height: auto;
  overflow: initial;
}
.p-story section {
  background: #d0c0b1;
}
.p-story .screenContent {
  height: 80vh;
  overflow: hidden;
  padding: 10px;
}
.p-story .images {
  position: fixed;
  height: 2000px;
  top: -2800px;
  width: 100%;
}
.p-story .images img {
  position: absolute;
}
.p-story .images img:nth-child(1) {
  top: -15%;
  left: 70%;
}
.p-story .images img:nth-child(2) {
  top: -15%;
}
.p-story .images img:nth-child(3) {
  top: 20%;
  left: 10%;
}
.p-story .images img:nth-child(4) {
  top: 10%;
  left: 80%;
}
.p-story .images img:nth-child(5) {
  top: 2%;
  left: 4%;
}
.p-story .images img:nth-child(6) {
  top: 80%;
  left: 68%;
}
.p-story .images img:nth-child(7) {
  top: 82%;
  left: 1%;
}
.p-story .images img:nth-child(8) {
  top: 74%;
  left: 10%;
}
.p-story .images img:nth-child(9) {
  top: 61%;
}
.p-story .images img:nth-child(10) {
  top: 60%;
  left: 80%;
}
.p-story .parallaxParent img {
  position: fixed;
  top: -350px;
}
.p-story .parallaxParent img:nth-child(1) {
  left: 7%;
}
.p-story .parallaxParent img:nth-child(2) {
  right: 7%;
}
.p-story .parallaxParent img:nth-child(3) {
  left: 9%;
  margin-top: 250px;
}
.p-story .screenContent h3 {
  text-align: center;
  color: #54392d;
  font-size: 50px;
  font-family: assistantSemiBold;
  position: relative;
  z-index: 3;
}
.p-story .screenContent h4 {
  text-align: center;
  color: #54392d;
  font-size: 30px;
  font-family: assistantSemiBold;
  position: relative;
  z-index: 9;
}
.p-story .screenContent .logo {
  display: block;
  margin: 0 auto;
  padding: 150px 0 50px;
  position: relative;
  z-index: 3!important;
  width: 70%;
  max-width: 375px;
}
.p-story .screenContent #logo-trigger {
  position: absolute;
  bottom: 47vh;
}
.p-story .videos .videoWrapper {
  position: relative;
  max-height: 800px;
}
.p-story .videos .videoWrapper video.fullPage {
  height: auto;
  width: 100%;
  display: block;
}
.p-story .videos .videoWrapper .videoText {
  position: absolute;
  top: calc(50vh - 160px);
  left: calc(50% - 250px);
  width: 100%;
  max-width: 425px;
  color: #fff;
  font-size: 24px;
  font-weight: assistantSemiBold;
  text-align: center;
}
.p-story .postVideoPics .picture {
  float: right;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.p-story .postVideoPics .picture img {
  display: block;
  width: 100%;
  height: auto;
}
.p-story .postVideoPics .picture img.grow {
  transition: all 0.5s ease-in-out;
}
.p-story .postVideoPics .picture img.grow:hover {
  transform: scale(1.1);
}
.p-story .postVideoPics .picture .pic-text {
  transition: .8s opacity;
  -webkit-transition: .8s opacity;
  -moz-transition: .8s opacity;
  opacity: 0;
  font-size: 20px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  top: 50%;
  color: #fff;
  text-align: center;
}
.p-story .postVideoPics .picture:hover .pic-text {
  opacity: 1;
}
.p-story .postVideoPics .picture:hover img.grow {
  transform: scale(1.1);
}
.p-story .workers img {
  width: 33.33%;
  height: auto;
  display: block;
  float: right;
}
@media (max-width: 1024px) {
  .p-story .videos .videoWrapper .videoText {
    top: calc(33vh - 160px);
  }
}
@media (max-width: 740px) {
  .p-story .screenContent h3 {
    font-size: 30px;
  }
  .p-story .screenContent h4 {
    font-size: 24px;
  }
  .p-story .videos .videoWrapper .videoText {
    left: auto;
    font-size: 16px;
  }
  .p-story .videos .videoWrapper .videoText h4 {
    padding: 10px;
  }
  .p-story .postVideoPics .picture .pic-text {
    font-size: 16px;
    top: 44%;
  }
  .p-story .images img:nth-child(1) {
    top: -30%;
    left: 20%;
  }
  .p-story .images img:nth-child(4) {
    top: 10%;
    left: 50%;
  }
  .p-story .images img:nth-child(6) {
    top: 95%;
    left: 18%;
  }
  .p-story .images img:nth-child(10) {
    top: 50%;
    left: 40%;
  }
}
