<main role="main" class="p-story">
	<section class="main full-width">
		<div class="spacer s1">
			<div class="screenContent">
					<img id="s-logo" class="logo" src="front-assets/images/story/logo-big.jpg" alt="" />
					<div id="logo-trigger"></div>
					<h3>אנו מתחייבים בכל יום נתון...</h3>
			</div>
		</div>
		<div class="images" id="images">
			<img src="front-assets/images/story/pic-1.jpg" alt="" />
			<img src="front-assets/images/story/pic-2.jpg" alt="" />
			<img src="front-assets/images/story/pic-3.jpg" alt="" />
			<img src="front-assets/images/story/pic-4.jpg" alt="" />
			<img src="front-assets/images/story/pic-5.jpg" alt="" />
			<img src="front-assets/images/story/pic-6.jpg" alt="" />
			<img src="front-assets/images/story/pic-7.jpg" alt="" />
			<img src="front-assets/images/story/pic-8.jpg" alt="" />
			<img src="front-assets/images/story/pic-9.jpg" alt="" />
			<img src="front-assets/images/story/pic-10.jpg" alt="" />
		</div>
		<div class="spacer s2">
			<div class="screenContent">
				<h3>
					למצוא את חומרי הגלם הטובים ביותר <br />
ולהכין אותם טריים בעבודת יד.
				</h3>
			</div>
		</div>

		<div class="spacer s3">
			<div class="screenContent">
				<h3>
					ירקות המגודלים באדמה בריאה, <br />
					ועופות הגדלים בתנאים טובים.
				</h3>
			</div>
		</div>
<!--
		<div id="parallax4" class="parallaxParent">
			<img src="front-assets/images/story/pic-9.jpg" alt="" />
			<img src="front-assets/images/story/pic-10.jpg" alt="" />
		</div> -->
		<div class="spacer s4">
			<div class="screenContent">
				<h3>
					אנו מחויבים  כיוון שאנו מבינים שגידול והכנה נכונים יהיו טעימים יותר. <br>
					אנו עושים זאת למען סביבה טובה יותר ועבורך... <br>
					עם כל מילוי של בגט או צלחת אנו עובדים למען עולם טוב יותר
				</h3>
			</div>
		</div>


	</section>
</main>
