<main role="main" class="p-story">
	<section class="full-width">
		<div class="spacer s1">
			<div class="screenContent">
					<img id="s-logo" class="logo" src="front-assets/images/story/logo-big.jpg" alt="" />
					<div id="logo-trigger"></div>
					<h3>אנו מתחייבים בכל יום נתון...</h3>
			</div>
		</div>

		<div class="images" id="images">
			<img src="front-assets/images/story/pic-1.jpg" alt="" />
			<img src="front-assets/images/story/pic-2.jpg" alt="" />
			<img src="front-assets/images/story/pic-3.jpg" alt="" />
			<img src="front-assets/images/story/pic-4.jpg" alt="" />
			<img src="front-assets/images/story/pic-5.jpg" alt="" />
			<img src="front-assets/images/story/pic-6.jpg" alt="" />
			<img src="front-assets/images/story/pic-7.jpg" alt="" />
			<img src="front-assets/images/story/pic-8.jpg" alt="" />
			<img src="front-assets/images/story/pic-9.jpg" alt="" />
			<img src="front-assets/images/story/pic-10.jpg" alt="" />
		</div>

		<div class="spacer s2">
			<div class="screenContent">
				<h4>
					למצוא את חומרי הגלם הטובים ביותר <br />
ולהכין אותם טריים בעבודת יד.
				</h4>
			</div>
		</div>

		<div class="spacer s3">
			<div class="screenContent">
				<h4>
					ירקות המגודלים באדמה בריאה, <br />
					ועופות הגדלים בתנאים טובים.
				</h4>
			</div>
		</div>

		<div class="spacer s4">
			<div class="screenContent">
				<h4>
					אנו מחויבים  כיוון שאנו מבינים שגידול והכנה נכונים יהיו טעימים יותר. <br>
					אנו עושים זאת למען סביבה טובה יותר ועבורך... <br>
					עם כל מילוי של בגט או צלחת אנו עובדים למען עולם טוב יותר
				</h4>
			</div>
		</div>
	</section>
	<section class="videos">
		<div class="full-width">
			<div class="videoWrapper">
				<video width="100%" class="fullPage" autoplay loop>
					<source src="http://ak8.picdn.net/shutterstock/videos/17377288/preview/stock-footage-cooking-meat-on-the-barbecue.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
				<div class="videoText">
						<h4>
							הכל או כלום... <br />
חומרים אמתיים טעימים יותר  זה כל כך פשוט,
מזון טבעי ללא חומרים משמרים וצבעי מאכל,
ללא מונוסודיום או חומרים שאינם מן הטבע...
אנחנו לא מתפשרים וקונים את הטרי והטוב ביותר.
						</h4>
				</div>
			</div>
			<div class="videoWrapper">
				<video width="100%" class="fullPage" autoplay loop>
					<source src="http://ak0.picdn.net/shutterstock/videos/15951730/preview/stock-footage-preparation-of-salad-on-wooden-desk-stop-motion-animation-k.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
				<div class="videoText">
						<h4>
							הכל מוכן במקום <br>
חומרי גלם משובחים דורשים הכנה משובחת  -
 הצוות שלנו מכין הכל עבורכם טרי ולפי הזמנה.
הצוות מיומן, מחויב, נאמן וחייכן.

						</h4>
				</div>
			</div>
			<div class="videoWrapper">
				<video width="100%" class="fullPage" autoplay loop>
					<source src="http://ak1.picdn.net/shutterstock/videos/5330771/preview/stock-footage-chef-chopping-some-parsley-close-up.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
				<div class="videoText">
						<h4>
							רשת שניצל קומפני <br>
רשת מסעדות תוססת, מתפתחת, <br>
עם טעמים מעודכנים ומדוייקים.
						</h4>
				</div>
			</div>
		</div>
	</section>
	<section class="postVideoPics">
		<div class="picture">
			<img class="grow" src="front-assets/images/story/pic_right.jpg" alt="" />
			<p class="pic-text">
				some text goes here
			</p>
		</div>
		<div class="picture">
			<img class="grow" src="front-assets/images/story/pic_right.jpg" alt="" />
			<p class="pic-text">
				some text goes here
			</p>
		</div>
	</section>
	<section class="workers">
		<img src="front-assets/images/story/worker1.jpg" alt="" />
		<img src="front-assets/images/story/worker2.jpg" alt="" />
		<img src="front-assets/images/story/worker3.jpg" alt="" />
	</section>
</main>
