<main role="main" class="p-story">
	<section class="main full-width">
		<div class="spacer s0">
			<div class="screenContent">
					<img id="s-logo" class="logo" src="front-assets/images/story/logo-big.jpg" alt="" />
					<div id="logo-trigger"></div>
					<h3>אנו מתחייבים בכל יום נתון...</h3>
			</div>
		</div>
		<div id="parallax1" class="parallaxParent">
			<img src="front-assets/images/story/pic-1.jpg" alt="" />
			<img src="front-assets/images/story/pic-2.jpg" alt="" />
		</div>
		<div class="spacer s1">
			<div>
				<p>Content 1</p>
			</div>
		</div>
		<div class="spacer s0"></div>
		<div id="parallax2" class="parallaxParent">
			<div></div>
		</div>
		<div class="spacer s1">
			<div class="box2 blue">
				<p>Content 2</p>
			</div>
		</div>
		<div class="spacer s0"></div>
		<div id="parallax3" class="parallaxParent">
			<div></div>
		</div>
		<div class="spacer s2"></div>

	</section>
</main>
