    <div class="ui-dialog" ng-class="vm.isopened ? 'opened' : 'closed'">
        <div class="ui-dialog-content">
            <div class="closeDialogBtn" ng-click="vm.closedialog()">
                &#10005;
            </div>
            <h4>
                {{vm.dialogdata.title}}
            </h4>
            <ul>
                <li ng-repeat="val in vm.components">
                    <p>
                        {{val}}
                    </p>
                </li>
            </ul>
            <ul>
                <li ng-repeat="val in vm.dialogdata.data">
                    <p class="cals">
                        {{val}}
                    </p>
                </li>
            </ul>
            <div class="clearfix"></div>
            <button ng-if="!dialogdata.isSelected" ng-click="vm.calcAndClose(dialogdata.data)">להוסיף לארוכה</button>
            <button ng-if="dialogdata.isSelected" ng-click="vm.calcAndClose(dialogdata.data)">להוריד מארוכה</button>
        </div>
    </div>
