<main role="main" class="p-contact">
  <section class="main full-width contactUs">
    <div class="wrap" ng-form name="careerForm" novalidate>
      <h3> שניצל קומפני מחפשת עובדים חרוצים, אחראים, דייקנים , זריזים ובעלי תודעת שירות גבוה - תנאים טובים למתאימים.</h3>
      <div class="row">
        <input type="email" name="email" ng-class="{'error':careerForm.email.$invalid}" placeholder="דוא״ל" value="" ng-model="$ctrl.model.user.email" required>
        <input type="tel" name="tel" placeholder="טלפון" value="" ng-model="$ctrl.model.user.tel" required>
        <input type="text" name="name" placeholder="שם" value="" ng-model="$ctrl.model.user.name" required>
      </div>
      <div class="row">
        <textarea name="message" placeholder="הודעה" rows="8" cols="40" ng-model="$ctrl.model.user.message"></textarea>
      </div>
      <div class="row">
        <div class="" ng-show="careerForm.email.$invalid">
          email error
        </div>
        <input ng-disabled="careerForm.$invalid" type="button" name="name" value="שלח" ng-click="$ctrl.careerApply()">
      </div>
    </div>
  </section>
</main>
<div class="clearfix"></div>
<div class="subsribeResponse" ng-class="{'open':$ctrl.subscribe.response}">
      {{$ctrl.subscribe.response.userMsg}}
  </div>
