<nav class="full-width" ng-class="{'mobileNavOpen':$ctrl.siteNav.mobileNavOpen}">
  <div class="navigation wrap">
    <a href="#/" class="logo"><img src="front-assets/images/home/logo.png" alt="" /></a>
    <div class="hamburger" ng-click="$ctrl.mobileNavToggle()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul ng-class="{'mobileNavOpen':$ctrl.siteNav.mobileNavOpen}">
      <li><a href="#/menu">תפריט</a></li>
      <li><a href="#/nutrition">תזונה</a></li>
      <li><a href="#/menu">שניצל בחברה טובה</a></li>
      <li><a href="#/story">מה קורה</a></li>
      <li><a href="#/contact">משלוחים</a></li>
      <li><a href="#/contact">דברו איתנו</a></li>
      <li><a href="#/contact">סניפים</a></li>
      <li class="navBtn breakLine"><a href="#/contact">זכיינות</a></li>
      <li class="navBtn"><a href="#/contact">הזמן עכשיו</a></li>
    </ul>

    <div class="clearfix"></div>
  </div>
</nav>
