<site-nav></site-nav>
<main role="main" class="p-menu">
    <section class="main full-width">
        <div class="slider">
            <div class="sliderContent" slick-slider={{$ctrl.sliders.settings}}>
                <div class="slide" ng-repeat="slide in $ctrl.sliders.top.slides" style="background:url(front-assets/images/menu/{{slide.slide.img}})">
                    <h3>
                        {{slide.slide.text.title}}
                    </h3>
                    <p>
                        {{slide.slide.text.describtion}}
                    </p>
                </div>
            </div>
            <div class="slick-thumbs">
                <ul>
                    <li ng-repeat="slide in $ctrl.sliders.top.slides">
                        <img ng-src="front-assets/images/menu/{{slide.thumb.img}}"/>
                        <p>{{slide.thumb.title}}</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="full-width menu">
            <div class="wrap">
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
                <div class="">
                    some other content
                </div>
            </div>
        </section>
        <section class="main full-width">
            <div class="slider">
                <div class="sliderContent" slick-slider={{$ctrl.sliders.settings}}>
                    <div class="slide" ng-repeat="slide in $ctrl.sliders.bottom.slides" style="background:url(front-assets/images/menu/{{slide.slide.img}})">
                        <h3>
                            {{slide.slide.text.title}}
                        </h3>
                        <p>
                            {{slide.slide.text.describtion}}
                        </p>
                    </div>
                </div>
                <div class="slick-thumbs">
                    <ul>
                        <li ng-repeat="slide in $ctrl.sliders.bottom.slides">
                            <img ng-src="front-assets/images/menu/{{slide.thumb.img}}"/>
                            <p>{{slide.thumb.title}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </main>
    <site-footer></site-footer>
