<main role="main" class="p-contact">
  <section class="full-width affiliatesList">
    <div class="wrap">
      <h3>שניצל קומפני - סניפים</h3>
      <div class="list">
        <ul>
          <li class="col-2">
            <h4>שניצל קומפני רמת גן</h4>
            <h4>03-6138281</h4>
            <div class="row">
              <div class="right">
                פקס להזמנות ומשלוחים:
              </div>
              <div class="left">
                  03-6139461
              </div>
            </div>
            <div class="row">
              <div class="right">
                שעות עבודה:
              </div>
              <div class="left">
                      ימים א-ה 10:30-17:00
              </div>
            </div>
            <div class="row">
              <div class="right">
                כתובת:
              </div>
              <div class="left">
                      רח’ אבא הלל 7, רמת גן
              </div>
            </div>
            <div class="row">
              <div class="right">
                אזורי משלוחים:
              </div>
              <div class="left">
                   הבורסה רמת גן
              </div>
            </div>
            <div class="shipping">
              משלוחים און ליין
            </div>
          </li>
          <li class="col-2">
            <h4>שניצל קומפני לילינבלום</h4>
            <h4>03-5169997</h4>
            <div class="row">
              <div class="right">
                פקס להזמנות ומשלוחים:
              </div>
              <div class="left">
                  03-5169998
              </div>
            </div>
            <div class="row">
              <div class="right">
                שעות עבודה:
              </div>
              <div class="left">
                      ימים א-ה 10:30-18:00
              </div>
            </div>
            <div class="row">
              <div class="right">
                כתובת:
              </div>
              <div class="left">
                לילינבלום 29, תל אביב
              </div>
            </div>
            <div class="row">
              <div class="right">
                אזורי משלוחים:
              </div>
              <div class="left">
                   מרכז ודרום תל אביב
              </div>
            </div>
            <div class="shipping">
              משלוחים און ליין
            </div>
          </li>
        </ul>
        <ul>
          <li class="col-2">
            <h4>
              שניצל קומפני הרצליה
            </h4>
            <h4>09-9589234</h4>
            <div class="row">
              <div class="right">
                פקס להזמנות ומשלוחים:
              </div>
              <div class="left">
                09-9589235
              </div>
            </div>
            <div class="row">
              <div class="right">
                שעות עבודה:
              </div>
              <div class="left">
                      ימים א-ה 10:30-18:00
              </div>
            </div>
            <div class="row">
              <div class="right">
                כתובת:
              </div>
              <div class="left">
                      המנופים 9, הרצליה פיתוח
              </div>
            </div>
            <div class="shipping">
              משלוחים לקחת מהסניף
            </div>
          </li>
          <li class="col-2">
            <h4>
              שניצל קומפני ריב"ל
            </h4>
            <h4>03-5379181</h4>
            <div class="row">
              <div class="right">
                פקס להזמנות ומשלוחים:
              </div>
              <div class="left">
                03-5379281
              </div>
            </div>
            <div class="row">
              <div class="right">
                שעות עבודה:
              </div>
              <div class="left">
                      ימים א-ה 10:30-18:00
              </div>
            </div>
            <div class="row">
              <div class="right">
                כתובת:
              </div>
              <div class="left">
                ריב"ל 10, תל אביב
              </div>
            </div>
            <div class="shipping">
              משלוחים לקחת מהסניף
            </div>
          </li>
        </ul>
        <ul>
          <li class="col-2">
            <h4>
              שניצל קומפני בני ברק
            </h4>
            <h4>03-5781655</h4>
            <div class="row">
              <div class="right">
                פקס להזמנות ומשלוחים:
              </div>
              <div class="left">
                03-5781635
              </div>
            </div>
            <div class="row">
              <div class="right">
                שעות עבודה:
              </div>
              <div class="left">
                      ימים א-ה 11:00-18:00
              </div>
            </div>
            <div class="row">
              <div class="right">
                כתובת:
              </div>
              <div class="left">
                בן גוריון 1, בני ברק
              </div>
            </div>
            <div class="shipping">
              משלוחים לקחת מהסניף
            </div>
          </li>
          <li class="col-2">
            <h4>
              סניף מגדלי אלון
            </h4>
            <h4>03-5379181</h4>
            <div class="row">
              <div class="right">
                פקס להזמנות ומשלוחים:
              </div>
              <div class="left">
                03-5379281
              </div>
            </div>
            <div class="row">
              <div class="right">
                שעות עבודה:
              </div>
              <div class="left">
                      ימים א-ה 10:30-18:00
              </div>
            </div>
            <div class="row">
              <div class="right">
                כתובת:
              </div>
              <div class="left">
                ריב"ל 10, תל אביב
              </div>
            </div>
            <div class="shipping">
              משלוחים לקחת מהסניף
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
