<main role="main" class="p-nutrition">
    <section class="main full-width">
        <div class="wrap">
            <h1>משחבון תזונה</h1>
            <h3>בחר ארוחה לחישוב</h3>
            <div class="dishes">
                <ul>
                    <li ng-class="dish.isSelected ? 'selectedDish' : '' " ng-click="$ctrl.getIngredsByDish(dishName, dish);" ng-repeat="(dishName, dish) in $ctrl.dishes">
                        <img src="{{::dish.img}}" alt=""/>
                        <p>{{::dish.title}}</p>
                    </li>
                </ul>
            </div>
            <div class="nutritionList">
                <ul class="components calcList" ng-class="{'hidden':!$ctrl.calculator.isInit}">
                    <li ng-repeat="component in $ctrl.components.list">
                        <span>{{::component}}</span>
                    </li>
                </ul>
                <div class="ingrids" ng-repeat="(ind, type) in $ctrl.types">
                    <h3>{{ind}}</h3>
                    <div class="ingrid" ng-repeat="val in type track by $index" ng-click="$ctrl.calculator.toggle($event, val)" ng-class="{'selected':val.isSelected}">
                        <div class="right">
                            <a href="#" class="toggle" ng-class="{'selected':val.isSelected}"></a>
                            <img ng-src="{{val.img}}" alt=""/>
                            <h4>{{val.title}}</h4>
                        </div>
                        <ul ng-class="{'selected': val.isSelected}" class="calcList">
                            <li ng-repeat="ingred in val.data">
                                <span>{{ingred}}</span>
                            </li>
                        </ul>
                        <span class="i-icon" ng-click="$ctrl.showCurrentIngrids($event, this)">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width calculated-wrap" ng-class="{'hidden':!$ctrl.calculator.isInit}">
            <div class="calculated-result">
                <div class="result-row">
                    <div class="inner">
                        <div class="arrow" ng-class="$ctrl.components.bottom.isShown ? 'arrowDown' : 'arrowUp'" ng-click="$ctrl.components.bottom.toggle();"></div>
                        <h4>סה''כ</h4>
                        <ul class="calcList result-data">
                            <li ng-repeat="(ind, val) in $ctrl.calculator.result">{{val | number:1}}</li>
                        </ul>
                    </div>
                </div>
                <ul class="components calcList" ng-class="$ctrl.components.bottom.isShown ? '' : 'hidden'">
                    <li ng-repeat="component in $ctrl.components.list">
                        <span>{{::component}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <ui-dialog dialogdata="$ctrl.dialog.data"
        isopened="$ctrl.dialog.isOpened"
        components="$ctrl.components.list"
        toggle="$ctrl.calculator.toggle($event, $ctrl.dialog.data)"
        closedialog="$ctrl.closeDialog()"></ui-dialog>
</main>
<site-footer effect-if-in-view="calculated-wrap"></site-footer>
