@font-face {
    font-family: 'assistant';
    src: url('../fonts/Assistant-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'assistantSemiBold';
    src: url('../fonts/Assistant-SemiBold.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'assistantBold';
    src: url('../fonts/Assistant-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'assistantLight';
    src: url('../fonts/Assistant-Light.ttf');
    font-weight: bold;
}
//reset
a,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
    direction: rtl;
}
input{
    outline: none;
}
//reset*********
//ngAnimations
@h1Size: 36px;
@textColor: #54392d;
@fontRegular: assistant;
@fontSemiBold: assistantSemiBold;
@fontBold: assistantBold;
@fontLight: assistantLight;

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
    &.animate-enter-active {
    	opacity: 1;
    }
}
main{
    &.ng-enter {
        /* transition on enter for .5s */
        transition: .5s;

        /* start with opacity 0 (invisible) */
        opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: assistant;
    overflow-x: hidden;
}
.full-width {
    width: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}
.clearfix {
    clear: both;
}
.hidden{
    display: none!important;
}
section:after {
    content: '';
    clear: both;
}
nav {
    background: #fff;
    margin-bottom: 80px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
}
.navigation {
    max-width: 700px;
    .logo {
        float: right;
        margin-left: 40px;
    }
    ul {
        padding-top: 45px;
        display: block;
        list-style: none;
        float: right;
        li {
            display: block;
            float: right;
            padding: 10px;
            vertical-align: bottom;
            a {
                text-align: center;
                text-decoration: none;
                color: #010101;
                vertical-align: bottom;
                &.selected:after{
                    content: "";
                    width: 100%;
                    height: 4px;
                    background: #f15f22;
                    display: block;
                }
            }
            &.navBtn{
                a{
                    background: #d4d1cd;
                    padding: 10px 10px 3px;
                }
            }
        }
    }
    .hamburger{
        display: none;
        span{
            width:50px;
            height: 2px;
            background: #54392d;
            display: block;
            margin: 0 auto;
        }
    }
}
main {
    display: block;
    margin-top: 80px;
}
footer {
    position: relative;
    padding: 20px 0;
    background: #54392d;
    overflow: hidden;
    .wrap{
        max-width: 890px;
        &:after{
            content: "";
            clear: both;
            display: block;
            width: 100%;
        }
    }
    .subsribeResponse{
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        position: absolute;
        bottom: -100px;
        z-index: 999;
        width: 100%;
        max-width: 500px;
        text-align: center;
        direction: rtl;
        padding: 10px;
        left:50%;
        margin-left: -250px;
        color:#000;
        background: #ccc;
        font-size: 20px;
        &.open{
            bottom:150px;
        }
    }

    .left, .right {
        direction:rtl;
        float: right;
        width: 48%;
        margin: 0.5%;
        .subscribe {
            label {
                color: #fff;
                font-size: 24px;
            }
            .inputRow{
                margin: 10px 0;
                input {
                    font-family: assistantLight;
                    border: none;
                    background: transparent;
                    border-bottom: 1px solid #fff;
                    color:#fbb680;
                    width: 260px;
                    float: right;
                    font-size: 22px;

                    &::-webkit-input-placeholder {
                        color: #fbb680;
                        font-size: 28px;
                        font-family: assistantLight;
                    }
                    &::-moz-placeholder {
                        color: #fbb680;
                        font-size: 28px;
                        font-family: assistantLight;
                    }
                    &:-ms-input-placeholder {
                        color: #fbb680;
                        font-size: 28px;
                        font-family: assistantLight;
                    }
                    &:-moz-placeholder {
                        color: #fbb680;
                        font-size: 28px;
                        font-family: assistantLight;
                    }
                }
                a{
                    display: block;
                    float: right;
                    text-decoration: none;
                    color:#fbb680;
                    font-size: 30px;
                    font-family: assistantLight
                }
            }
        }
        .list{
            margin-top: 20px;
            p{
                color:#fff;
                font-size: 22px;
            }
            .terms{
                font-size: 18px;
            }
            ul{
                list-style: none;
                li{
                    display: block;
                    float: right;
                    margin: 10px 15px;
                    &:first-of-type{
                        margin-right: 0;
                    }
                    &.breakLine{

                    }
                    a{
                        font-size: 24px;
                        text-decoration: none;
                        color:#fff;
                    }
                }
            }
        }
    }
    .left{
        margin-left: 0;
    }
}
@media(max-width:940px){
    .navigation {
        .logo{
            margin-left: 15px;
        }
        ul {
            padding-top:0;
            li {
                padding: 12px 5px 7px;
                &.breakLine {
                    clear: both;
                }
            }
        }
    }
    footer{
        .left, .right{
            .subscribe{
                label{
                    font-size: 20px;
                }
                .inputRow{
                    a{
                        font-size: 24px;
                    }
                    input{
                        width: 250px;
                        font-size: 18px;
                        &::-webkit-input-placeholder {
                            font-size: 18px;
                        }
                        &::-moz-placeholder {
                            font-size: 18px;
                        }
                        &:-ms-input-placeholder {
                            font-size: 18px;
                        }
                    }
                }
            }
            .list{
                p{
                    font-size: 20px;
                }
                ul{
                    li{
                        margin: 10px;
                        a{
                            font-size: 18px;
                            img{
                                width: 45px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:740px) {
    nav{
        &.mobileNavOpen{
            height: auto;

        }
    }
    .navigation{
        ul{
            display: none;
            &.mobileNavOpen{
                display: block;
                clear: both;
                margin-right: 20px;
                li{
                    float: none;
                    padding: 5px 0;
                    &.navBtn{
                        margin: 5px 0;
                    }
                }
            }
        }
        .hamburger{
            cursor: pointer;
            width: 20px;
            display: block;
            border:1px solid #000;
            border-radius: 3px;
            padding: 3px;
            float: left;
            margin-top: 25px;
            span{
                width: 100%;
                display: block;
                background: #000;
                margin: 2px 0;
            }
        }
    }
    footer{
        .left, .right{
            width: 98%;
            float: none;
            margin: 0 auto;
            max-width: 280px;
            &:after{
                content: "";
                display: block;
                clear: both;
            }
            .subscribe{
                label{
                    font-size: 16px;
                }
                .inputRow{
                    a{
                        font-size: 20px;
                    }
                    input{
                        width: 250px;
                        font-size: 14px;
                        &::-webkit-input-placeholder {
                            font-size: 14px;
                        }
                        &::-moz-placeholder {
                            font-size: 14px;
                        }
                        &:-ms-input-placeholder {
                            font-size: 14px;
                        }
                    }
                }
            }
            .list{
                p{
                    font-size: 16px;
                }
                ul{
                    li{
                        margin: 10px;
                        a{
                            font-size: 14px;
                            img{
                                width: 45px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
