@font-face {
    font-family: 'assistant';
    src: url('../fonts/Assistant-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'assistantSemiBold';
    src: url('../fonts/Assistant-SemiBold.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'assistant-bold';
    src: url('../fonts/Assistant-Bold.ttf');
    font-weight: bold;
}
//reset
a,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
    direction: rtl;
}
input{
    outline: none;
}
body {
    margin: 0;
    font-family: assistant;
    overflow-x: hidden;
}
.full-width {
    width: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}
.clearfix {
    clear: both;
}
section:after {
    content: '';
    clear: both;
}
nav {
    background: #fff;
    margin-bottom: 80px;
    border-bottom: 1px solid;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
}
.navigation {
    max-width: 940px;
    .logo {
        float: right;
        margin-left: 40px;
    }
    ul {
        padding-top: 45px;
        display: block;
        list-style: none;
        float: right;
        li {
            display: block;
            float: right;
            padding: 10px;
            vertical-align: bottom;
            a {
                text-align: center;
                text-decoration: none;
                color: #010101;
                vertical-align: bottom;
            }
            a.navBtn {
                background: #d4d1cd;
                padding: 10px 10px 3px;
            }
        }
    }
}
main {
    display: block;
    margin-top: 80px;
}
footer {
    padding: 20px 0;
    background: #54392d;

    .left, .right {
        float: right;
        width: 45%;
        margin: 2.5%;
        .subscribe {
            label {
                color: #fff;
                font-size: 24px;
            }
            input {
                display: block;
                border: none;
                background: transparent;
                border-bottom: 1px solid #fff;
                color:#fbb680;
                position: relative;
                &::-webkit-input-placeholder {
                    color: #fbb680;
                }
                &::-moz-placeholder {
                    color: #fbb680;
                }
                &:-ms-input-placeholder {
                    color: #fbb680;
                }
                &:-moz-placeholder {
                    color: #fbb680;
                }
            }
            a{
                position: absolute;
                left:0;
                text-decoration: none;
                color:#fbb680;
            }
        }
        .social{
            p{
                color:#fff;
                font-size: 24px;
                ul{
                    list-style: none;
                    li{
                        display: block;
                        float: right;
                        margin: 10px;
                    }
                }
            }
        }
    }
}
