.p-nutrition{
  padding: 40px 0;
  h1{
    font-size: 30px;
    text-align: center;
    color: #54392d;
  }
  h3{
    font-size: 24px;
    text-align: center;
    color: #54392d;
    font-family: @fontBold
  }
  .dishes{
    ul{
      list-style: none;
      li{
        display: inline-block;
        width: 25%;
        max-width: 290px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        p{
          color: #54392d;
          font-size: 28px;
          font-family: @fontSemiBold;
        }
      }
    }
  }
  .nutritionList{
    .ingrid{
      direction: rtl;
      padding: 2px 0;
      &:nth-child(even){
        background: #ccc;
      }

      h4{
        display: inline-block;
        width: 100px;
      }
      .toggle{
        text-decoration: none;
        width: 20px;
        display: inline-block;
        color: blue;
        vertical-align: top;
        &:after{
          content:"+";
        }
        &.selected{
          &:after{
            content: "-";
          }
        }
      }
      ul{
        list-style: none;
        display: inline-block;
        li{
          display: inline-block;
          width: 60px;
          text-align: center;
        }
      }
    }
  }
  .calculated{
    direction: rtl;
    h4{
      width: 130px;
      display: inline-block;
    }
    ul{
      list-style: none;
      display: inline-block;
      li{
        width: 60px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
