.p-nutrition{
  padding: 40px 0;
  h1{
    font-size: 30px;
    text-align: center;
    color: #54392d;
  }
  h3{
    background: #3b2317;
    font-size: 24px;
    color: #d0c0b2;
    font-family: assistantSemiBold;
    padding: 2px 20px;
  }
  .calcList{
    list-style: none;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    li{
      display: block;
      float: right;
      width: 50px;
      text-align: center;
      &:nth-child(odd){
        background: #e7d5c7
      }
      &:nth-child(even){
        background: #fff9f3
      }
    }
    &:after{
      content: "";
      display: block;
      clear: both;
    }
  }
  .dishes{
    border-bottom: 1px solid #a9978e;
    padding-bottom: 50px;
    margin-bottom: 50px;
    ul{
      list-style: none;
      li{
        display: inline-block;
        width: 25%;
        max-width: 290px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        p{
          color: #54392d;
          font-size: 22px;
          font-family: assistantSemiBold;
          padding-top: 20px;
        }
      }
    }
  }
  .nutritionList{
    position: relative;
    .components{
      display: block;
      li{
        background: #fff;
        height: 100px;
        span{
          transform: rotate(90deg);
          transform-origin: 0px 35px 0;
          float: left;
        }
      }
    }
    .ingrid{
      direction: rtl;
      border-bottom: 1px solid #b8b3af;
      border-top: 1px solid #ebe4de;
      height: 70px;
      .right{
        float: right;
        height: 70px;
        .toggle{
          text-decoration: none;
          width: 20px;
          display: inline-block;
          color: #493c34;
          vertical-align: top;
          font-size: 35px;
          font-family: assistantLight;
          &:after{
            content:"+";
          }
          &.selected{
            &:after{
              content: "-";
            }
          }
        }
        img{
          max-height: 100%;
          width: auto;
          vertical-align: top;
        }
        h4{
          display: inline-block;
          width: 100px;
          color:#3a2215;
          font-family: assistantSemiBold;
          line-height: 65px;
        }
      }
      ul{
        li{
          height: 70px;
          line-height: 65px;
          font-family: assistantLight;
        }
      }
      &:after{
        content: "";
        clear: both;
        display: block;
      }
    }
    .calculated{
      position: fixed;
      bottom: 0;
      direction: rtl;
      z-index: 3;
      width: 650px;
      left:50%;
      margin-left: -325px;
      h4{
        float: right;
      }
    }
  }
}
