.p-nutrition{
  padding: 40px 0 0;
  h1{
    font-size: 30px;
    text-align: center;
    color: #54392d;
  }
  h3{
    background: #3b2317;
    font-size: 24px;
    color: #d0c0b2;
    font-family: assistantSemiBold;
    padding: 2px 20px;
  }
  .calcList{
    list-style: none;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    li{
      display: block;
      float: right;
      width: 50px;
      text-align: center;
      &:nth-child(odd){
        background: #e7d5c7
      }
      &:nth-child(even){
        background: #fff9f3
      }
    }
    &:after{
      content: "";
      display: block;
      clear: both;
    }
  }
  .dishes{
    border-bottom: 1px solid #a9978e;
    padding-bottom: 50px;
    margin-bottom: 50px;
    ul{
      list-style: none;
      li{
        display: inline-block;
        width: 25%;
        max-width: 290px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;
        p{
          color: #54392d;
          font-size: 22px;
          font-family: assistantSemiBold;
          padding-top: 20px;
        }
      }
    }
  }
  .components{
    display: block;
    li{
      background: #fff;
      height: 100px;
      span{
        transform: rotate(90deg);
        transform-origin: 10px 30px 0;
        float: left;
        color: #766456;
      }
    }
  }
  .nutritionList{
    position: relative;
    .components{
      li{
        background: #fff;
      }
    }
    .ingrid{
      direction: rtl;
      border-bottom: 1px solid #b8b3af;
      border-top: 1px solid #ebe4de;
      height: 70px;
      position: relative;
      &:last-of-type{
        border-bottom: none;
      }
      &.selected{
        background: #ece3de;
        // &:before{
        //   content: "";
        //   right:0;
        //   top: 0;
        //   width: 100%;
        //   display: block;
        //   position: absolute;
        //   z-index: 2;
        //   background: #e7d5c7;
        //   height: 100%;
        //   opacity: 0.3;
        // }
      }
      .right{
        cursor: pointer;
        float: right;
        height: 70px;
        min-width: 150px;
        .toggle{
          text-decoration: none;
          width: 30px;
          height: 30px;
          display: block;
          color: #493c34;
          vertical-align: top;
          font-size: 35px;
          line-height: 27px;
          text-align: center;
          font-family: assistantLight;
          float: right;
          position: relative;
          top: 50%;
          transform: translateY(-55%);
          border-radius: 50%;
          transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          -moz-transition: 0.3s all ease;
          &:hover{
            background: #493c34;
            color:#fff;
          }
          &:after{
            content:"+";
          }
          &.selected{
            &:after{
              content: "-";
            }
          }
        }
        img{
          max-height: 100%;
          width: auto;
          vertical-align: top;
          float: right;
        }
        h4{
          display: block;
          max-width: 100px;
          color:#3a2215;
          font-family: assistantSemiBold;
          float: right;
          position: relative;
          top: 50%;
          transform: translateY(-55%);
        }
      }
      ul{
        li{
          height: 70px;
          line-height: 65px;
          font-family: assistantLight;
          &:after{
            content: "";
            display: block;
            clear: both;
          }
          span{
            opacity: 0;
            transition: 0.5s all ease;
          }
        }
        &.selected{
          li{
            span{
              opacity: 1;
            }
          }
        }
      }
      &:after{
        content: "";
        clear: both;
        display: block;
      }
    }
  }
  .calculated-wrap{
    background: #fef9f3;
    width: 100%;
    max-height: : 150px;
    position: fixed;
    bottom: 0;
    direction: rtl;
    z-index: 3;
    transition: 1s all ease;
    &.staticView{
      position: static;
    }
  }
  .calculated-result{
    .result-row{
      background: #d4cbc2;
      .inner{
        margin: 0 auto;
        box-sizing: border-box;
      }
    }
    .result-data{
      li{
        padding: 15px 0 15px;
        color:#4d3a2c;
        &:nth-child(odd){
          background: #dbd1c8;
        }
        &:nth-child(even){
          background: #bfada1;
        }
      }
    }
    h4{
      float: right;
      font-size: 30px;
      line-height: 50px;
      font-family: assistantSemiBold;
      margin-right: 1%;
      color:#54392d;
    }
    .arrow{
      width: 0;
      height: 0;
      cursor: pointer;
      float: right;
      margin-top: 20px;
      margin-right: 10%;
    }
    .arrowUp{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #54392d;
    }
    .arrowDown{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #54392d;
    }
  }
}
@media(max-width:960px){
  .p-nutrition {
    .components{
      display: none;
    }
    .calcList{
      li{
          &:nth-child(odd){
            background: transparent;
          }
      }
    }
    .nutritionList{
      .ingrid{
        position: relative;
        ul li{
          display: none;
        }
        .i-icon{
          position: absolute;
          left:40px;
          width: 24px;
          height: 24px;
          top:50%;
          transform: translateY(-50%);
          background: url(../images/nutrition/i-info-48.png) no-repeat center;
          background-size: contain;
          cursor: pointer;
        }
        .overlay{
          background: rgba(0,0,0,0.6);
          width: 100%;
          height: 100vh;
          position: fixed;
          z-index: 100;
          top: 0;
          left:0;
        }
        .ui-dialog{
          display: none;
          position: fixed;
          top:20px;
          left:~'calc(50% - 145px)';
          padding: 30px;
          width: 200px;
          z-index: 101;
          background: #fff;
          &.open{
            display: block;
          }
          h4{
            text-align: center;
            font-size: 24px;
            color:#54392d;
          }
          ul{
            list-style: none;
            display: block;
            float: right;
            width: 46%;
            margin: 1%;
            li{
              display: block;
              padding: 5px 0;
              line-height: 30px;
              height: 30px;
              p.cals{
                text-align: left;
              }
            }
          }
        }
      }
    }
    .calculated-result{
      .arrow{
        display: none;
      }
      h4{
        margin-right: 8%
      }
      .result-data{
        li:not(:first-of-type){
          display: none;
        }
        li:first-of-type{
          float: left;
          background: transparent;
        }
      }
    }
  }
}
