html, body {
    height: auto;
    overflow: initial;
}
section{
    background: #d0c0b1;
}
.parallaxParent {
    height: 100vh;
    overflow: hidden;
}
.parallaxParent {
    img{
        position: absolute;
        top:-100px;
        &:nth-child(1){
            left:10%;
        }
        &:nth-child(2){
            right:10%;
        }
    }
}
.screenContent{
    h3{
        text-align: center;
        color:#54392d;
        font-size: 50px;
        font-family: assistantSemiBold;
    }
    .logo{
        display: block;
        margin: 0 auto;
        padding: 150px 0;
    }
    #logo-trigger{
        position: absolute;
        bottom: 47vh;
    }

}
